<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>FitLab-Matricula</title>
</head>
<body>
    <header>
        <div class="menu">
            <img src="#" alt="logo da fitlab">
            <nav>
              <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Planos</a></li>
                <li><a href="#qm-somos">Sobre</a></li>
              </ul>
            </nav>
        </div>
    </header>

    <form action="/submit-matricula" method="POST">
        <!-- Seus campos de formulário aqui -->
        <input type="text" name="nome" placeholder="Nome">
        <input type="email" name="email" placeholder="E-mail">
        <input type="number" name="telefone" placeholder="Telefone">
        <button type="submit">Enviar</button>
      </form>
      <footer>
        <section class="qm-somos" id="qm-somos">
            <h2>Quem Somos?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Perspiciatis officiis magnam deleniti reprehenderit fuga deserunt ea,
               beatae quas dolorem incidunt quaerat exercitationem nulla, ipsam enim
               voluptatem accusamus unde repellat assumenda.
            </p>
        </section>

        <section class="fl-conosco">
            <h2>Fale conosco</h2>
            <p>321 465</p>
            <p>asdf@email</p>
        </section>

        <section class="creators">
            <h2>Desenvovido por</h2>
            <ul>
                <li>dev1</li>
                <li>dev2</li>
                <li>dev3</li>
            </ul>
            
        </section>

    </footer>
</body>
</html>