@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

:root {
    --cor1: #3552f2;
    --cor2: #049dd9;
    --cor3: #0faebf;
    --cor4: #14d9d9;
    --cor5: #04d98b;
    --fundo: #FFFFFF;
    --prata:#C0C0C0;
    --ouro: #FFD700; 
    --platina: #ececec;
    --fontes:#31708B;
}



body {
    min-width: 690px;
    background-color: var(--fundo);
    font-family: 'Raleway', sans-serif;
    color: var(--fontes);
}


header {
    background-image: linear-gradient(to right, var(--cor4)30%, var(--cor3));
    border: 1px solid --cor4;
}

.menu {
    width: 90%;
    margin: auto;
}

.menu h1 {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 10px; 
}

.menu img {
    width: 250px;
    height: 100px;
    margin-bottom: -57px;
    padding: 10px;
}

nav{
    text-align: right;
    width: 67%;
    margin: auto;
}

nav li {
    display: inline-block; 
    padding: 11px;
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: 3px double black;
    padding: 10px;
    transition: 1.9s all;
}

nav li :hover {
    background-image: linear-gradient(to bottom right, cyan, white);
    color: purple;
    border: 3px solid black;
}


/* corpo */

main {
    width: 90%;
    margin: auto;
}

.image-slogan-container h1 {
    text-align: center;
}

.image-slogan-container img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;    
}

/* mapa */

.map-container {
    width: 100%;
    height: 250px;
    text-align: center;
}

.map-container iframe {
    width: 67%;
    height: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    border-radius: 20px;
}

/* planos */

.planos {
    width: 67%;
    padding: 0 0 10px 0;
    text-align: center;
    margin: 20px auto;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.397), -2px -2px 10px rgba(0, 0, 0, 0.397);
}

.planos h2 {
    padding-top: 10px;
}



.plans-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-content: center; /* Alinha os cards no centro */
}

.plan-card {
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521), -1px -1px 3px rgba(0, 0, 0, 0.541);
    padding: 5px 10px;
    margin-bottom: 20px;
    width: 170px; 
    margin: auto;
}

.plan-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}

.plan-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plan-card li {
    margin-bottom: 5px;
    transition: all 1s;
}

.plan-card:hover li:not(.nao-incluso) {
    text-decoration: underline;
    font-weight: bold;
}

.plan-card a {
    background-color: var(--cor5);
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
    text-decoration: none;
    font-weight: bold;
    bottom: 2px;
    border: 1px solid rgba(0, 0, 0, 0.473);
}

.plan-card .nao-incluso {
    text-decoration: line-through;
}

.prata {
    background-color: var(--prata);
}

.ouro {
    background-color: var(--ouro);
}

.platina {
    background-color: var(--platina);
}

/* footer */

footer {
    width: 100%;
    background-image: linear-gradient(to bottom, var(--cor4)12%, var(--cor3));
    text-align: center;
    color: black;
}

footer img {
    width: 70px;
    padding-top: 4px;
}

footer hr {
    margin: 0;
    width: 80%;
    margin: auto;
}

footer .rodape {
    display: flex;
    flex-wrap: wrap; /* Adicionamos flex-wrap para que as sections quebrem a linha quando necessário */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: flex-start; /* Alinha os elementos no topo verticalmente */
}

footer p {
    display: inline-block;
    width: 100%; 
    margin-bottom: 10px; 
}

.rodape section {
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

.qm-somos p {
    padding: 0px 20px;
    margin-top: 0;
}


.rodape ul li {
    list-style: none;
    padding: 2px;
}

.newsletter {
    width: 100%;
}

.newsletter label {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.newsletter input {
    width: 60%;
}

.newsletter button {
    width: 30%;    
    border-radius: 0;
    background-color: var(--cor5);
    margin: 15px auto;
}

.creators a {
    text-decoration: none;
    color: black;
}

/* estilos de form.html */

.main-form {
    width: 50%;
    margin: auto;
    text-align: center;
}

.banner  img{
    width: 100%;
    margin: auto;
}

.main-form input {
    display: inline-block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

fieldset {
    text-align: center;
}

.main-form .planos {
    width: 90%;
    padding: 10px;
}
.planos input {
    width: 15%;
}

#submit-btn {
    display: block;
    width: 40%;
    border-radius: 0;
    background-color: var(--cor5);
    margin: 15px auto;
}


/* Estilos de clientes html */

.main-clientes {
    height: fit-content;
    width: 90%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521), -1px -1px 3px rgba(0, 0, 0, 0.541);   
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #ffffff;
}
