:root {
    --cor1: #3552f2;
    --cor2: #049dd9;
    --cor3: #0faebf;
    --cor4: #14d9d9;
    --cor5: #04d98b;
    --fundo: #FFFFFF;
    --prata:#C0C0C0;
    --ouro: #FFD700; 
    --platina: #A9A9A9;
}




body {
    min-width: 690px;
    background-color: var(--fundo);
}

header {
    background-image: linear-gradient(to right, var(--cor4)30%, var(--cor3));
}

.menu {
    width: 90%;
    margin: auto;
}

.menu h1 {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 10px; 
}

.menu img {
    width: 250px;
    height: 100px;
    margin-bottom: -57px;
    padding: 10px;
}

nav{
    text-align: right;
    width: 67%;
    margin: auto;
}

nav li {
    display: inline-block; 
    padding: 11px;
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: 3px double black;
    padding: 10px;
    transition: 1.9s all;
}

nav li :hover {
    background-image: linear-gradient(to bottom right, cyan, white);
    color: purple;
    border-radius: 20px;
    border: 3px solid black;
}


/* corpo */

main {
    width: 90%;
    margin: auto;
}

.image-slogan-container h1 {
    text-align: center;
}

.image-slogan-container img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;    
}

/* mapa */

.map-container {
    width: 100%;
    height: 250px;
    text-align: center;
}

.map-container iframe {
    width: 67%;
    height: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
}

/* planos */

.planos {
    text-align: center;
    margin-bottom: 20px;
    width: 67%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.397), -2px -2px 10px rgba(0, 0, 0, 0.397);
}

.planos h2 {
    padding-top: 10px;
}



.plans-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-content: center; /* Alinhar os cards no centro */
}

.plan-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    width: 170px; 
    margin: auto;
}

.plan-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.plan-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plan-card li {
    margin-bottom: 5px;
}

.prata {
    background-color: var(--prata);
}

.ouro {
    background-color: var(--ouro);
}

.platina {
    background-color: var(--platina);
}

/* footer */

footer {
    width: 100%;
    background-color: var(--cor3);
    text-align: center;
}

footer .rodape {
    display: flex;
    flex-wrap: wrap; /* Adicionamos flex-wrap para que as sections quebrem a linha quando necessário */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: flex-start; /* Alinha os elementos no topo verticalmente */
}

footer p {
    display: inline-block;
    width: 100%; /* Ocupa todo o espaço disponível horizontalmente */
    margin-bottom: 10px; /* Adiciona espaço entre o <p> e as sections */
}

.rodape section {
    flex: 1;
    margin-right: 10px;
    text-align: center;
}


/* estilos de form.html */

.main-form {
    width: 50%;
    margin: auto;
}

.banner  img{
    width: 100%;
    margin: auto;
}

.main-form input {
    display: inline-block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

fieldset {
    text-align: center;
}

.planos {
    width: 90%;
    padding: 10px;
}
.planos input {
    width: 15%;
}

#submit-btn {
    display: block;
    width: 40%;
    border-radius: 0;
    background-color: var(--cor5);
    margin: 15px auto;
}
